{% extends "_layouts/main" %}

{% requireLogin %}

{% block title %}
  <title>{{ currentUser.fullName }} - {{ siteName }}</title>
{% endblock %}

{% block main %}
  <main class="page-container profile-container">

    <!-- User Info -->
    <section class="user-profile-info">
      <img src="/images/user-icon-white.png" alt="User Profile Picture">
      <div>
        <h3>{{ currentUser.fullName }}</h3>
        <p><i class="fa-solid fa-user-astronaut"></i> {{ currentUser.username }}</p>
        <p><i class="fa-solid fa-envelope"></i> {{ currentUser.email }}</p>
      </div>
    </section>


    <!-- Post Form -->
    {% set entry = entry ?? create('craft\\elements\\Entry') %}

    <form method="post" accept-charset="UTF-8">
      {{ csrfInput() }}
      {{ actionInput('entries/save-entry') }}
      {{ redirectInput('/profiles/current-user') }}
      {{ hiddenInput('sectionId', '1') }}
      {{ hiddenInput('status', 'enabled') }}
      <input type="hidden" name="entryId" value="">

      <label for="postDate"></label>
      <input type="hidden" name="postDate" value="{{ 'now'|datetime('medium', locale='en-GB') }}">
      <label for="title"></label>
      <input type="hidden" name="title" value="{{ currentUser.fullName }}">
      <label for="text"></label>
      {{ tag('textarea', {
        id: 'text',
        name: 'fields[text]',
        text: entry.text,
        placeholder: 'Whats on your mind?...',
        maxlength: '600', })
      }}
      <button type="submit" name="create-post">Post</button>

      {{ _self.errorList(entry.getErrors('text')) }}
    </form>


    <!-- Posts -->
    {% set entries = craft.entries()
      .section('posts')
      .orderBy('postDate DESC')
      .limit(50)
    %}
    {% for defaultPost in entries.all() %}
    <section class="post">
      <div class="user-row">
        <div class="user-row-block">
          <img src="/images/user-icon-white.png" alt="User Profile Picture">
          <p>{{ defaultPost.author }}</p>
        </div>
        <a href="#" class="hover"><i class="fa-solid fa-arrow-right"></i></a>
      </div>
      <p>{{ defaultPost.text }}</p>
    </section>
    {% endfor %}

  </main>
{% endblock %}
